@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.container {
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 2em 2em;
    border: 0.2em solid rgb(222, 222, 222);
    background-color: #000000e8;
    display: flex;
    flex-direction: column;
    color: rgb(14, 162, 182);
    border-radius: 8px;
    
}

.container .container_title {
    font-size: 3em;
    color: #c9220c;
    padding: 1rem 0;
}

.label {
    font-size: 2em;
    margin: 0.1rem;
    padding: 0.1rem;
}

.container .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-num {
    padding: 1em 0 1em 0.5em;
    font-size: 2em;
    letter-spacing: 0.5px;
    /* color: rgb(185, 97, 14); */
    color: rgba(0, 0, 0, 0.584);
    border: none;
    border-radius:10px;
    outline: 0.1em solid rgb(222, 222, 222);
    background-color: #777;
    text-align: center;
}

.input-num::placeholder {
    color: rgba(0, 0, 0, 0.584);
}

.input-num:hover::placeholder {
    color: rgba(255, 255, 255, 0.811);
}

.input-num:hover, .option-container:hover{
    box-shadow: inset 1000px 0 0 0 rgb(33, 33, 33);
    /* color: aliceblue; */
    color: rgba(255, 255, 255, 0.811);
    transition: linear .3s;

}

.option-container {
    width: 100%;
    padding: 1em 0.5em;
    font-size: 2em;
    font-weight: bold;
    /* margin: 0.1em auto; */
    letter-spacing: 0.5px;
    border: none;
    border-radius:10px;
    font-family: 'DM Sans', sans-serif;
    outline: 0.1em solid rgb(222, 222, 222);
    background-color: #777;
    color: rgba(0, 0, 0, 0.584);
}


.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.6px;
    
}

.container .form .btn {
    padding: 1em;
    font-size: 1.7em;
    font-weight: bold;
    background-color: yellow;
    border: none;
    border-radius:10px;
     font-family: 'DM Sans', sans-serif;
}

.container .form .answer {
    font-size: 2em;
    text-align: center;
}

.container .form .answer .ans-text {
    font-size: 2em;
    overflow-wrap: break-word;
}

.small {
    font-size: 1.2rem;
}

@media (max-width: 320px) {
    body {
        font-size: 50%;
    }
}